.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table{
  max-width: 100vw;
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

thead{
  font-weight: 500;
}

td{
  border: 2px solid #dcdcdc;
}

tr{
  border: 2px solid #dcdcdc;
}

.table-filter{
  width: 100%;
}


